.box-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(25, 134, 177);
}
.title{
    text-align: center;
}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.content-p{
    font-size: 18px;
    text-align: left;
}
.footer{
    background: rgb(56, 56, 56);
    height: 50px;
}
.footer-1{
    display: inline;
    float: left;
    padding-top: 15px;
}
.footer-2{
    display: inline;
    float: right;
    padding-top: 15px;
}
.godown{
    color: rgb(92, 231, 57);
}
.boxed{
    font-size: 25px;
}
.box-logo{
    color: rgb(255, 136, 0);
}
.redword{
    color: rgb(219, 84, 84);
}
.first-p{
    text-align: center;
    width: 650px;
}
.small-logo{
    background: rgb(255, 238, 4);
    font-size: 26px;
    padding: 12px;
    border-radius: 20%;
}
.h3-title{
    font-size: 30px;
}
.main-span{
    border-bottom: 5px solid rgb(255, 238, 4);
    padding-bottom: 5px;
    font-weight: 500;
}
button{
    background: rgb(29, 29, 29);
    border-radius: 10%;
    color: rgb(255, 254, 254);
    margin-left: 5px;
    margin-right: 5px;
}